h1 {
  text-align: center;
}

.hero {
  border-radius: 50px;
  backdrop-filter: blur(2px);
  background-color: rgb(33, 33, 33);
}
.outerbox {
  /* background-color: red; */
  margin: 25px;
  width: 50%;
  height: 350px;
}

.outerbox img {
  height: 300px;
  width: 50%;
  margin-left: 200px;
  border-radius: 2px;
}

.outerbox p {
  text-align: center;
  margin-top: 25px;
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}

.outerbox button {
  margin-left: 420px;
  height: 40px;
  width: 80px;
  border-radius: 8px;
}
